<p>
	In 1991, a woman named Sabina Solomon joined the local orphanage near her home in Shivajinagar, Bangalore as a volunteer. Sabina began by 
	cooking meals for the orphans; over time, her duties grew to encompass cleaning the orphanage, tutoring the children, and searching for 
	steady sources of donor funding.  
</p>

<p>
	In 1998, after her husband’s passing, Sabina decided to dedicate the rest of her life to the orphanage and raise her three children 
	along with the orphans who also saw her as their mother. In 2007, she assumed a directing role and named Angels Orphanage after her 
	daughter. Since then, Sabina – known affectionately by her orphans as “Auntie” – has relied on help from her family &amp; volunteers to 
	provide a safe and nurturing environment for local orphans.  
	
	<div class="quote"> 
		“Every deserted person, every orphan should know that there is love here. This is a family. The children are treated well, I see them as my 
		children, and they see me as their mother. I am lucky to be with them and to be a part of their lives.” said Sabina.
	</div>
</p>

<p>
	Angel's Orphanage receives no government help; instead, all of its funding comes from individual or corporate sponsors. However, this flow 
	of funding can be inconsistent, and Angel's Orphanage often requires more funding at certain times of the year, e.g., Admission times at schools,
	festivals season like Diwali/Christmas and when kids fall sick.  These are the times Sabina faces a huge bottleneck and shortage in funds. 
	Sabina would like to reduce this uncertainty and uneven flow by having a steady source of funding. 
</p>

<p>
	Currently, Angels Orphanage leases its shelter from a private corporation. This property serves as a permanent home to Sabina, her children,
	a few volunteers, and 70 orphans. The lease expires in 13 years, and while 13 years seems far in the future, Sabina needs to secure and 
	save up for a transition in that time. As of now, she has not yet found any prospects for another orphanage shelter/home for these 70+ children.
</p>

<div class="quote">
	“I worry that I will not find a suitable place for my children. It is hard for me to save money for a new building – whatever I save is always 
	spent for a broken appliance or a sick child. Every day, I do the cooking and cleaning and take care of the children and make sure they are happy.  
	But at night, I worry about the lease, about what will happen if I cannot find a home.”
</div>

<p>
	Another long-term goal of Sabina’s is to find a secure method of transportation. She recounts the following:
</p>

<div class="quote">
	“If a child gets sick in the middle of the night, it is very hard for me to take them to the hospital. I once had a young child become very ill 
	in the middle of the night. She had pneumonia and needed to go see a doctor. But it was very late at night and there were no autos outside. I 
	carried her for 3 kilometers before we found an auto rikshaw. And even then, they charge me so much money because they know I am desperate. I paid 
	them and went to the hospital anyway – what other choice is there?”
</div>