<div class="our_lives_testimony">
	<p>
		The children at Angels Orphanage lead happy, optimistic lives. The orphanage acts as a unit; older residents set as role models for younger ones 
		who in turn follow the “buddy system.” Music, dancing, and eating sweets are favorites among the children.
	</p>
	<p>
		For Sabina, the children’s education is of utmost importance. Books, tuition, and uniforms are high-priority items that she purchases or requests 
		from donors. Even though these items are expensive, she sees every last rupee as an investment in her orphans’ futures. She is also a firm believer
		that a high-quality education instills a sense of discipline and motivation to succeed.
	</p>
	<p>
		Another high-priority item at Angels Orphanage is proper hygienic and medical treatment. Flu season in Bangalore coincides with the rains, and in
		the small shelter where 30 children sleep in a room, diseases spread very quickly when not prevented or treated properly. As such, Sabina makes
		sure her children only consume boiled or bottled water, that they bathe every other day, and that they have clean clothing and undergarments.
	</p>
</div>