<% content_for(:page_identifier) do %>about_us<% end %>

<% content_for(:right_column) do %>
	<div class="slideshow"> 
		<% @photo_set.each do |photo| %>
			<div style="text-align: center">
				<img src="<%= photo.path %>" width="200" height="200" />
				<span><%= photo.caption %></span>
			</div>
		<% end %>	
	</div>
<% end %>

<% content_for(:main_content) do %>
	<div id="about_us_content">
		<h3><a href="history">History</a></h3>
		<h3><a href="our-angels">Our Angels</a></h3>
		<h3><a href="our-lives">Our Lives</a></h3>
	</div>
<% end %>