<% content_for(:page_identifier) do %>about_us<% end %>

<% content_for(:right_column) do %>
	<div class="slideshow"> 
		<% @photo_set.each do |photo| %>
			<div style="text-align: center">
				<img src="<%= photo.path %>" width="200" height="200" />
				<span><%= photo.caption %></span>
			</div>
		<% end %>	
	</div>
<% end %>

<% content_for(:main_content) do %>
	
<% end %>