<% content_for(:page_identifier) do %>contact-us<% end %>

<% content_for(:right_column) do %>
<% end %>

<% content_for(:main_content) do %>
	<div class="textarea">
		<h2>Contact Us</h2>
		<table class="contact-details">
			<!--
			<tr>
				<td class="label">E-mail:</td>
				<td class="value">steve_sam056@gmail.com</td>
			</tr>
			-->
			<tr>
				<td class="label" id="phone" rowspan="2">Phone:</td>
				<td class="value">Orphanage - (080) 65348406</td>
			</tr>
			<tr><td class="value">Sabina Solomon - 9901540582</td></tr>
			<tr>
				<td class="label" rowspan="3">Address:</td>
				<td class="value">Angels Orphanage</td>
			</tr>
			<tr><td>Anath Ashram, Old Cemetery Road</td></tr>
			<tr><td>Shivajinagar Bangalore 51</td></tr>
		</table>
	</div>
<% end %>