<div id='pic_container'>
	<% content_for(:right_column) do %>
		<div class="slideshow"> 

			<img src="/images/<%= File.basename(@images.shift) %>" width="200" height="200" />

			<% @images.each do |pic| %>
				<img style="visibility: hidden;" src="/images/<%= File.basename(pic) %>" width="200" height="200" />
			<% end %>	
		</div>
		<div id='img_caption'></div>
	<% end %>

<script type="text/javascript">
	var captions = <%= @captionsArray %>;
</script>

<%content_for(:main_content) do %>
	<h2>Contact Us</h2>
	
	<p>E-mail: Steve_sam@056@gmail.com </p>
		
	<div> Phone: (080) 65348406 – Orphanage </div>
	<div> 9901540582 – Sabina Solomon </div>
	
	<p>	
		<div> Address: Angels Orphanage </div>
		<div> Anath Ashram, Old Cemetery Road </div>
		<div> Shivajinagar Bangalore 51 </div>
	</p>
<% end %>
