<% content_for(:page_identifier) do %>donate<% end %>

<% content_for(:right_column) do %>
	<div class="textarea" id="sabinha-photo">
		<img src="images/sabinha.jpg" alt="Sabinha" />
	</div>
<% end %>

<% content_for(:main_content) do %>
	<div class="textarea">
		<h2>Donate money.</h2>
		<p>There are two main ways to donate: 
			by <span class="emphasis">courier</span>
			and by <span class="emphasis">bank account drop-off.</span>
		</p>
		<div id="by-courier" class="highlight-box">
			<h5>By courier: </h5> 
			<p>Please send cheques (not cash) to:</p>
			<p>CHEQUE IN THE NAME OF: Angels Orphanage. </p>
			<p class="donate_address">
				Address to be couriered to: <br/>
				Angels Orphanage <br/>
				Anath Ashram, Old Cemetery Road <br/>
				Shivajinagar Bangalore 51 
			</p>
		</div>
		<div id="by-bank-account" class="highlight-box">
			<h5>By bank account drop-off: </h5>
			<p>Alternatively, you can directly deposit funds into Angels Orphanages’ account:</p>
			<div id="donate_address">
				<p>To: Angels Orphanage</p>
				<p>Bank: State Bank of India/ Infantry Road Branch</p>
				<p>Account number: 30274844</p>
			</div>
		</div>
		<p>If you would like an income tax rebate form, please include or e-mail your home address along with your donation.</p>
		<h5>Drop-Off Donations.</h5>
		<p> 
			Angels Orphanage is open to drop-off donations – just give Sabina a call or send her an e-mail
			to let her know when to expect you. To see what items the orphanage could use the most, please look at our wish list.
			Your help is greatly appreciated.
		</p>
		<h5>Visit &amp; Volunteer.</h5>
		<p>
			Our children love meeting new people and making new friends! Angels Orphanage is open on weekdays
		 	between 18:00 to 20:00 and on Saturday afternoons for visitors and volunteers. Some past visits that the children 
			really enjoyed include, going out for ice cream with the children, playing board games, having lunch together, and tutoring.
		</p>
	</div>
<% end %>