<% content_for(:page_identifier) do %>home<% end %>

<% content_for(:read_more) do %>
	<div id="more" class="textarea">
		We are Angels Orphanage, a volunteer-run orphanage in Bangalore, India. 
		Our mission is to provide the shelter, education, medical attention, and love that every child deserves. 
	</div>
<% end %>

<% content_for(:main_content) do %>
	<div class="slideshow"> 
		<% @photo_set.each do |photo| %>
			<div style="text-align: center">
				<img src="<%= photo.path %>" />
				<span><%= photo.caption %></span>
			</div>
		<% end %>	
	</div>
<% end %>

<% content_for(:right_column) do %>
	<div id="at-a-glance" class="textarea">
		<h1>Orphanage At a Glance...</h1>
		<ul>
			<li>Located in Shivajinagar, Bangalore</li>
			<li>70 children with a maximum capacity of 75</li>
			<li>Boys and girls from age 3 to 19</li>
			<li>Primary caretaker is Sabina</li>
			<li>Run 100% on volunteer staff and donations</li>
			<li>Leasing from corporation</li>
		</ul>
	</div>
<% end %>
