<% content_for(:page_identifier) do %>how-you-can-help<% end %>

<% content_for(:main_content) do %>
<div class="textarea">
	<h2>Wish List</h2>

	<p>Donations in the form of drop-offs are always welcome, provided they are in good condition. Contact us at: </p>
	<table class="contact-details">
		<tr>
			<td class="label">E-mail:</td>
			<td class="value">steve_sam056@gmail.com</td>
		</tr>
		<tr>
			<td class="label" id="phone" rowspan="2">Phone:</td>
			<td class="value">Orphanage - (080) 65348406</td>
		</tr>
		<tr><td class="value">Sabina Solomon - 9901540582</td></tr>
		<tr>
			<td class="label" rowspan="3">Address:</td>
			<td class="value">Angels Orphanage</td>
		</tr>
		<tr><td>Anath Ashram, Old Cemetery Road</td></tr>
		<tr><td>Shivajinagar Bangalore 51</td></tr>
	</table>

	<h5>Our Wish List:</h5>
	<ul>
		<li>All children’s clothes</li>
		<li>Shoes and sandals of all sizes</li>
		<li>Story books in English (all levels)</li>
		<li>Art supplies and projects (stationary, pencils, pens, crayons, paint)</li>
		<li>Toiletries (shampoos, detergents, soaps)</li>
	</ul>

	<h5>For School:</h5>
	<ul>
		<li>All kinds of books in English, Kannada, or Hindi</li>
		<li>Educational toys</li>
		<li>Uniforms</li>
	</ul>

	<h5>For Our Health:</h5>
	<ul>
		<li>Medicines</li>
		<li>Band-Aids and bandages</li>
	</ul>

	<h5> How Donations Are Used </h5>
	<p> It costs about <span class="emphasis">500</span> rupees to support a child each month. That’s <span class="emphasis">16.6</span> rupees a day or <span class="emphasis">6,000</span> rupees a year, 
		and it covers the child’s education, food, clothing, and medical supplies.
	</p>
</div>
<% end %>

<% content_for(:right_column) do %>
	<div class="slideshow"> 
		<% @photo_set.each do |photo| %>
			<div style="text-align: center">
				<img src="<%= photo.path %>" />
				<span><%= photo.caption %></span>
			</div>
		<% end %>	
	</div>
<% end %>