<% content_for(:page_identifier) do %>how_you_can_help<% end %>

<% content_for(:right_column) do %>
	<div class="slideshow"> 
		<% @photo_set.each do |photo| %>
			<div style="text-align: center">
				<img src="<%= photo.path %>" width="200" height="200" />
				<span><%= photo.caption %></span>
			</div>
		<% end %>	
	</div>
<% end %>

<% content_for(:main_content) do %>
	<h2> How You Can Help </h2>
	
	<div class="highlight_container">
		<div> <span class="emphasis"> Donate money. </span> </div>
		<p>There are two main ways to donate: 
			<span class="emphasis"> by courier </span> and 
			<span class="emphasis"> by bank account drop-off. </span>
		</p>
		<p> <span class="emphasis">	By courier: </span> 
			please send cheques (not cash) to:
		</p>
		<p>CHEQUE IN THE NAME OF: Angels Orphanage. </p>
	
		<div class="donate_address">	
			Address to be couriered to: <br/>
			Angels Orphanage <br/>
			Anath Ashram, Old Cemetery Road <br/>
			Shivajinagar Bangalore 51 
		</div>
	</div>
	
	<p>Alternatively, you can directly deposit funds into Angels Orphanages’ account:
		<div class="highlight_container donate_address">
			<div> To: Angels Orphanage </div>
			<div> Bank: State Bank of India/ Infantry Road Branch </div>
			<div> Account number: 30274844</div>
		</div>
	</p>
	
	<p>	
		If you would like an income tax rebate form, please include or e-mail your home address along with your donation. 
		<p>
			<span class="emphasis"> Drop-Off Donations. </span> 
			Angels Orphanage is open to drop-off donations – just give Sabina a call or send her an e-mail
		 	to let her know when to expect you. To see what items the orphanage could use the most, please look at our wish list.
		 	Your help is greatly appreciated.
		</p>
		<p>
			<span class="emphasis"> Visit & Volunteer. </span>
			Our children love meeting new people and making new friends! Angels Orphanage is open on weekdays
		 	between 18:00 to 20:00 and on Saturday afternoons for visitors and volunteers. Some past visits that the children 
			really enjoyed include, going out for ice cream with the children, playing board games, having lunch together, and tutoring.
		</p>
	</p>
<% end %>