<style type="text/css"> 
	.slideshow { height: 232px; width: 232px; margin: auto }
	.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }
</style> 

<div id='pic_container'>
	<% content_for(:right_column) do %>
		<div class="slideshow"> 

			<img src="/images/<%= File.basename(@images.shift) %>" width="200" height="200" />

			<% @images.each do |pic| %>
				<img style="visibility: hidden;" src="/images/<%= File.basename(pic) %>" width="200" height="200" />
			<% end %>	
		</div>
		<div id='img_caption'></div>
	<% end %>
</div>

<script type="text/javascript">
	var captions = <%= @captionsArray %>;
</script>
</head>

<p>
Hello world.....
</p>

