<style type="text/css"> 
	.slideshow { height: 232px; width: 232px; margin: auto }
	.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }
</style> 

<% content_for(:main_content) do %>
	<div class="slideshow"> 
		<% @photo_set.each do |photo| %>
			<div style="text-align: center">
				<img src="<%= photo.path %>" width="200" height="200" />
				<span><%= photo.caption %></span>
			</div>
		<% end %>	
	</div>
<% end %>

<p>
	Hello world.....
</p>
