<% content_for(:right_column) do %>
<div class="slideshow"> 
	<% Dir[RAILS_ROOT+'/public/images/*.jpg'].each do |pic| %>
		<img src="/images/<%= File.basename(pic) %>" width="200" height="200" />
	<% end %>	
</div>
<% end %>

<p>
	Hello world.....
</p>
