body       { background-color: #fff; }
#container {  
	  height: 700px; 
	  margin: auto; 
	  width: 1200px; 
}
#header { 
    background-color: blue; 
    height:100px;
}
#navbar {
  background-color: red;
	height:50px;
	line-height:40px;	
	padding:0px 10px 0px 0px;
}
#donate {
  background-color: red;
	width:100px;
  float:right;
}
#header { color:#0af; }
#footer { 
    background: #0af; 
    color:#fff;
}
#contentContainer{
background-color:green;
}
