body { 
	font-family: arial,helvetica,clean,sans-serif;
	background-color: #505050;
	margin: 20px;
	color: #000;
	font-size: 14px;
}

h1, h2, h3, h4, h5 {
	color: #680000;
}

p {
	margin-left: 5px;
}

#container {
	margin: 0 auto; 
	width: 950px; 
	background-color: #A7A7A7;
}

#header { 
  background-color: #680000; 
  color: white;
  height: 80px;
  padding: 10px;
}

#header h1 {
	color: white;
}

#logo {
	float: left;
	width: 15%;
}

#title {
	float: left;
	font-size: 42px;
	font-weight:bold;
	padding: 15px;
	margin-right:15px;
}

#contact {
	font-size: 12px;
	float: right;
	padding: 5px;
	text-align: center;
}

#page-content {
	width: 100%;
	clear: both;
	min-height: 300px;
}

#main {
	padding: 10px;
	margin: 10px;
	width: 580px;
}

#more {
	font-weight: bold;
	margin: 40px 10px 0 10px;
	padding: 10px;
}

#right-column {
	width: 280px;
	padding: 10px;
	margin-left: 10px;
	float: right;
	clear: top;
}

#at-a-glance {
	font-style: bold;
}

#at-a-glance ul {
	padding: 0px 25px;
}

#footer { 
  background-color: #680000; 
  color: #fff;
  text-align: center;
  padding: 5px;
}

#footer a {
	color:#fff;
}

.slideshow { 
	height: 232px; 
	width: 232px; 
	background-color: white;
	border: 1px solid #ccc;
}

#home .slideshow {
	height: 420px; 
	width: 610px; 
}

.slideshow img { 
	padding: 15px;  
}

#global-navigation {
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none outside none;
	line-height: 1em;
}

#global-navigation li {
	float: left;
	margin: 0;
	padding: 0;
	width: 25%;
	text-align: center;
}

#global-navigation a {
	display: block;
	color: #444;
	text-decoration: none;
	font-weight: bold;
	background: #66CCFF;
	margin: 0;
	padding: 0.25em 1em;
	border-top: 1px solid #0081AF;
	border-left: 1px solid #0081AF;
}

#global-navigation a:hover,
#global-navigation a:active,
#global-navigation a.here:link,
#global-navigation a.here:visited {
	background: #0099FF;
}

#global-navigation a.here:link,
#global-navigation a.here:visited {
	position: relative;
	z-index: 102;
}

.emphasis {
	font-weight:bold;
	margin-bottom:3px;
}

/*------ HISTORY -------*/

#about_us_content a {
	color: #000;
}

.quote {
	margin-left: 15px;
	margin-right: 15px;
	font-style: italic;
	font-weight: bold;
}

/*----- Our Angels -----*/
.our_angels_testimony {
	margin-bottom: 10px;
}

/*--- How You Can Help ---*/
#donate_by_container {
	background-color:#fff;
	padding:10px;
	color: #000;
	font-size: 13px;
}

.donate_address {
	text-align: center;
}