<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Orphanage</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
		<!-- include Cycle plugin --> 
		<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script> 
		<script type="text/javascript"> 
			$(document).ready(function() {
				$('.slideshow').cycle({
					fx: 'fade' 
				});
			});
		</script> 
	</head> 
	<body>
		<div id="container"> 
			<div id="header">
				<h1 id="logo">Logo</h1>
				<div id="contact">
					<div>E-mail: Steve_sam@056@gmail.com</div>
					<div>Phone: (080) 65348406 – Orphanage</div>
					<div>Anath Ashram, Old Cemetery Road</div>
					<div>Shivajinagar Bangalore 51</div>
				</div>
			</div>

			<div id="navigation">
				<ul id="global-navigation">
					<li><a href="home">Home</a></li>
					<li><a href="about-us">About Us</a></li>
					<li><a href="how-you-can-help">How You Can Help</a></li>
					<li><a href="contact-us">Donate</a></li>
				</ul>
			</div>

			<div id="read-more">
				<%= yield :read_more %>
			</div>

			<div id="page-content">
				<div id="right-column">
					<%= yield :right_column %>
				</div>
			
				<div id="main">
					<%= yield :main_content %>
				</div>
			</div>

			<div id="footer"> 
				Contact Us
			</div>
		</div>
	</body>
</html>
