<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Angels Orphanage</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/jquery-ui-1.8.2.custom.css" />
		<link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
		<script type="text/javascript" src="javascripts/jquery-1.4.2.min.js"></script> 
		<script type="text/javascript" src="javascripts/jquery.cycle.min.js"></script> 
		<script type="text/javascript" src="javascripts/jquery.corners.js"></script> 
		<script type="text/javascript" src="javascripts/jquery-ui-1.8.2.custom.min.js"></script>
		<script type="text/javascript"> 
			$(document).ready(function() {
				$('.slideshow').cycle({fx: 'fade'});
				$('#at-a-glance').corner("15px");
				$('#more').corner("15px");
				$('#header').corner("top 20px");
				$('#container').corner("20px");
				$('#footer').corner("bottom 20px")
				$('.slideshow').corner("15px");
				$('.textarea').corner("15px")
			});
		</script> 
	</head> 
	<body id="<%= yield :page_identifier %>">
		<div id="container"> 
			<div id="header">
				<div id="title">
					<!-- <img src="/images/left-wing.png" alt="Left Wing" /> -->
					<h1><a href="home">Angels Orphanage</a></h1>
					<!-- <img src="/images/right-wing.png" alt="Right Wing" /> -->
				</div>
			</div>

			<div id="navigation">
				<ul id="global-navigation">
					<li id="first"><a href="home">Home</a></li>
					<li><a href="about-us">About Us</a></li>
					<li><a href="how-you-can-help">How You Can Help</a></li>
					<li id="last"><a href="donate">Donate</a></li>
				</ul>
			</div>

			<div id="page-content">
				<div id="read-more">
					<%= yield :read_more %>
				</div>
					
				<div id="right-column">
					<%= yield :right_column %>
          <div id="donate_us" class="center">
            <a href="/donate"><img src="/images/donate.png" /></a>
          </div>
				</div>
			
				<div id="main">
					<%= yield :main_content %>
				</div>
			</div>

			<div id="footer"> 
				<a href="contact-us">Contact Us</a>
				<table class="contact-details">
					<tr>
						<td class="label">E-mail:</td>
						<td class="value">steve_sam056@gmail.com</td>
					</tr>
					<tr>
						<td class="label">Phone:</td>
						<td class="value">(080) 65348406</td>
					</tr>
					<tr>
						<td class="label" rowspan="2">Address:</td>
						<td class="value">Anath Ashram, Old Cemetery Road</td>
					</tr>
					<tr>
						<td class="value">Shivajinagar Bangalore 51</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
